name: Testing

on:
  push:
  pull_request:

jobs:
  test:
    name: Build and test
    strategy:
      matrix:
        operating-system: [ubuntu-latest, macOS-latest]
    runs-on: ${{ matrix.operating-system }}
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Setup Java
      uses: actions/setup-java@v2
      with:
        java-version: '12'
        distribution: 'zulu'

    - name: Setup Clojure tools
      uses: DeLaGuardo/setup-clojure@3.5
      with:
        cli: 1.10.1.693 # Clojure CLI based on tools.deps
        lein: 2.9.1     # or use 'latest' to always provision latest version of leiningen
        boot: 2.8.3     # or use 'latest' to always provision latest version of boot

    - name: Run Clojure code on Linux and MacOS
      if: ${{ matrix.os != 'windows-latest' }}
      run: clojure -e "(+ 1 1)"
      shell: bash

    - name: Run Clojure code on Windows
      if: ${{ matrix.os == 'windows-latest' }}
      run: clojure -e "(+ 1 1)"
      shell: powershell

    - run: lein -v

    - run: lein deps

    - run: lein check

    - run: lein compile

    - run: lein uberjar

    - name: Setup test dependencies on Ubuntu
      run: sudo apt install -y xvfb graphviz
      if: ${{ matrix.operating-system == 'ubuntu-latest' }}

    - name: Setup test dependencies on macOS
      run: brew install graphviz
      if: ${{ matrix.operating-system == 'macOS-latest' }}

    - name: Run regression tests on Ubuntu
      run: /usr/bin/xvfb-run bash -x ./test.sh
      if: ${{ matrix.operating-system == 'ubuntu-latest' }}
      env:
        DISPLAY: :99.0

    - name: Run regression tests on macOS
      run: bash -x ./test.sh
      if: ${{ matrix.operating-system == 'macOS-latest' }}
